@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap");

html,
body,
#root {
  height: 100%;
}

body {
  font: "Poppins", sans-serif;
  background-color: #daddd8;
  color: #3a4e48;
}
