main {
  background-color: #3a4e48;
  border-radius: 6px !important;
  color: #daddd8;
  /* max-height: fit-content; */
}

.wrapper {
  width: 50%;
  margin: 10% auto;
}

.spans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20%;
  font-weight: 600;
  font-size: 400%;
}
.icon {
  margin: 0 20px;
  width: 40px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 10px;
  text-decoration: none;
}

.hover {
  color: #daddd8;
  text-decoration: none;
  transition: all 0.5s;
}
.hover:hover {
  text-decoration: underline;
}
