.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-color: #daddd8;
}

.input-header {
  padding-top: 55px;
  padding-bottom: 20px;
}

.form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

input {
  border: #3a4e48;
  border-style: thin 2px !important;
  border-radius: 30px;
  width: 45%;
  height: 60px;
  margin: 0 auto;
  padding: 13px;
}

input:focus {
  border-style: solid #daddd8 !important;
}

.name-field {
  margin-bottom: 35px;
}

button {
  padding: 10px 0;
  border: none;
  border-radius: 25px;
  background-color: #3a4e48;
  color: #daddd8;
  width: 10%;
  transition: all 0.3s;
}

button:hover {
  background-color: #daddd8;
  color: #3a4e48;
}
